@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
.content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}
.contact{
  width: 90vw;
  margin: 0 auto;
  max-width: 700px;
}
form{
  box-shadow: 0 0 3px black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.8rem;
  padding: 1.5rem 0;
  border-radius: 5px;
}
form label{
  width: 90%;
}
form input{
  padding: 1rem 0.8rem;
  width: 100%;
  background: #FEFEFE;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 2px black;
  outline: none;
  font-size: 0.9rem;
}
form textarea{
  padding: 1rem 0.8rem;
  width: 90%;
  height: 200px;
  background: #FEFEFE;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px black;
  outline: none;
  font-size: .9rem;
}
form button{
  padding: 0.75em 1.5em;
  background: #42445A;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
form div{
  width: 90%;
  text-align: left;
}