@media (min-width: 1200px) {
 .hero-section{
   display: flex;
   align-items: center;
   gap: 10rem;
   width: 90vw;
   margin: 0 auto;
 }
 .hero-txt{
   width: 40vw;
 }
 .large-img{
   border: none;
   background: none;
   box-shadow: 0 0 0 black;
   width: 50vw;
   height: 65vh;
   max-width: 510px;
   max-height: 510px;
}
.hero-txt h1{
  font-size: clamp(2.9rem, 6vw, 4.5rem);
}
.phone-nav{
  display: none;
}
.menus{
  display: none;
}
.main-nav{
  padding: 1rem 3rem 1rem 2rem;
}
#Desktop-links{
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style-type: none;
}
#Desktop-links li a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
#Desktop-links li a img{
  width: 2.5rem;
  height: auto;
}
.desktop-links{
  display: none;
  text-align: center;
  padding: 0.8rem;
  position: fixed;
  right: 21%;
  top: 90px;
  z-index: 1000;
  background: black;
  list-style: none;
}
.desktop-links li a{
  text-decoration: none;
  color: white;
}
.desk_shop-list{
  color: black;
  display: flex;
  gap: 0.5rem;
  
}
.arrow_down{
  transform: rotate(-270deg);
  scale: 1.3;
}
.why-us{
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  max-height: 300px;
  padding-top: 4rem;
}
}
@media (min-width: 800px){
.wears{
  grid-auto-columns: 40%;
}
}