:root {
  --text-hero: clamp(2.9rem, 6vw, 4.8rem);
  --text-h1: clamp(2.8rem, 4vw, 4rem);
  --text-h2: clamp(1.8rem, 3vw, 2.4rem);
  --text-h3: clamp(1.2rem, 2vw, 2rem);
  --text-body: 1.3rem;
  --text-small: 1.03rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --space-xl: 5rem;
  --btn-sm: 0.5em 1em;
  --btn-md: 0.75em 1.5em;
  --btn-lg: 1em 2em;
  --green_clr: #25D366;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100vw;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
/* homepage styles */
.header{
  background: linear-gradient(-60deg,#FFCCEF, #CED0E7);
  padding-top: 8px;
}

/* links styles*/
.phone-nav{
  background: black;
  width: 50vw;
  height: 80vh;
  min-height: 400px;
  position: fixed;
  top: 0;
  right: -100px;
  z-index: 1000;
  display: none;
  transition: all 1s ease-in-out;
  animation: move-in 0.5s linear  forwards ;
}
@keyframes move-in{
  to{
    right: 0;
  }
}
.phone-nav.move-out{
  transition: all 0.5s linear;
  right: -100px;
  display: none;
}
#Phone-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--space-md);
  list-style: none;
  
}
#Phone-links ul{
  list-style: none;
}
#Phone-links li a{
  text-decoration: none;
  color: white;
}
#Phone-links ul li a{
  text-decoration: none;
  color: white;
}
.ex-links{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: var(--space-sm);
  height: 20vh;
  animation: increase 0.5s ease-in forwards;
}
@keyframes increase{
  to{height: 30vh;}
}
.shop-list{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;
}
.shop-list div{
  transform: rotate(-270deg);
  scale: 1.3;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-list div:active{
  background: #1629FF69;
  
}
.arrow-up{
  transform: rotate(270deg);
}
#Desktop-links{
  display: none;
}
.desktop-links{
  display: none;
}
.hamburger-menu, .close-menu{
  width: 2.5rem;
  height: auto;
}
.close-menu{
  margin: var(--space-xs);
}
.main-nav{
  width: 90vw;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xs);
  border-radius: 2px;
  box-shadow: inset 0px 0px 2px black;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.company-name{
  font-size: var(--text-h3);
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.hero-section{
  text-align: center;
  padding: var(--space-xl) 0 var(--space-lg) 0;
}
.hero-txt{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.hero-txt h1{
  font-size: var(--text-hero);
}
.hero-txt p{
  font-size: var(--text-body);
  padding: var(--space-sm);
}
.hero-txt_btn a{
  text-decoration: none;
  border: 2px solid #42445A;
  border-radius: 2px;
  padding: var(--btn-md);
  color: black;
  backdrop-filter: blur(10px);
}
.hero-txt_btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.large-img{
  width: 85vw;
  max-width: 410px;
  height: 50vh;
  max-height: 420px;
  min-height: 300px;
  object-fit: contain;
  padding: var(--space-sm);
  /*background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px black;*/
  opacity: 0.2;
  animation: show 1s linear  forwards;
  margin: 0 auto;
}
@keyframes show{
  to{opacity: 1}
}
.showcase-image{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--space-md);
  margin: 0 auto;
  width: 85vw;
}
#sub-img{
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px black;
  width: 85vw;
  max-width: 410px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.sub-img{
   transition: all 0.5s ease-in-out;
   padding: 0.8rem;
   width: 25%;
   height: auto;
   object-fit: contain;
   backdrop-filter: blur(10px);
   border-radius: 5px;
   box-shadow: inset 0 0 2px black;
}
.size{
  width: 5.8rem;
  height: auto;
}
.active{
  scale: 1.05;
  transition: all 0.5s ease-in-out;
}
/* why shop with us */

.why-us{
  padding-top: var(--space-lg);
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: var(--space-lg);
  place-items: center;
}
.why-us div img{
  width: 2.8rem;
  height: auto;
}
.why-us div h4{
  font-size: var(--text-body);
}
.why-us div p{
  font-size: 1rem;
}
.affordable, .experience, .express-delivery{
  width: 70vw;
  max-width: 350px;
  border: 2px solid silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-sm);
  padding: 0.8rem;
  border-radius: 8px;
}

/* Featured products */
.featured-products h2{
  padding-top: var(--space-lg);
  padding-left: var(--space-sm);
  padding-bottom: var(--space-sm);
}
.marquee{
  width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.marquee p{
  background: linear-gradient(60deg,#FF2626,#FFD06A);
  font-size: 1rem;
  color: white;
  padding: var(--space-xs);
  text-align: center;
  border-radius: 50px;
  max-width: 400px;
}

/* featured products categories*/
.wears div .display_img{
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: all 0.5s linear;
}
.wears div .display_img:hover{
  scale: 1.1;
}
.wears{
  width: 98vw;
  margin: 0 auto;
  overflow-x: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 65%;
  column-gap: var(--space-sm);
}
.wears > div{
  overflow: hidden;
  position: relative;
  box-shadow:  0px 0px 1.5px black;
}
.wears .details{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs);
  color: white;
  background: linear-gradient(#000000,rgba(0, 0, 0, 0.4));
 
}
.wears .details img{
  width: 2.5rem;
  height: auto;
}

/* footer section */
footer{
  background: #42445A;
  margin-top: 4rem;
  text-align: center;
  color: white;
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
footer div h4{
  font-size: var(--text-body);
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
#links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-md);
  list-style: none;

}
#links li a{
  color: white;
}
.social-links{
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
  text-align: center;
}
.social-links i{
  font-size: 1.6rem;
}
.social-links  a{
  color: white;
}
.web-contact{
  word-break: break-all;
}